<section class="price-1">
  <div class="container">
    <h2>Resend confirmation instructions</h2>
    <div class="row plans">
      <div class="center-block" style="width:400px;max-width:90%">
        <div class="first_line_menu col-xs-12">
          <div class="form_upload">
            <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.error_notification %>
            <%= f.full_error :confirmation_token %>
            <%= f.input :email, required: true, autofocus: true %>
              <p class="post-button-form">
                <%= f.button :submit, "Resend confirmation instructions" %>
              </p>
          </div>
          <div class="post-button-form">
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>