<section class="price-1">
  <div class="container">
    <div class="heading">
      <h1>Manage your account</h1>
      <div class="account_buttons">
        <p><%= link_to "Favorite videos", user_path(current_user), :class => "btn btn-success post-button" %></p>
        <p><%= link_to "Profile update", edit_user_registration_path, :class => "btn btn-default post-button" %></p>
      </div>
    </div>
    <h2>Profile</h2>
    <div class="row plans">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="plan">
          <div class="first_line col-xs-12">
            <div class="form_upload">
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= f.error_notification %>
                <%= f.input :email, required: true, autofocus: true %>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>
                <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %><br>
                <%= f.input :password_confirmation, required: false %><br>
                <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %><br>
            </div>
          </div>
          <div class="post-button-form">
            <%= f.button :submit, "Update", class:"btn btn-success btn btn-success post-button-form" %>
          </div>
          <div class="delete-button-form">
            <p> or </p>
            <p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger btn-sm" %></p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>