<section class="price-1">
  <div class="container">
    <div class="heading">
      <h1>The concept</h1>
      <p>Helping Youtubers with less than 2000 subscribers
        <br>Share and vote for the best videos
      </p>
      <p><%= link_to "POST A VIDEO", new_video_path, :class => "btn btn-primary post-button" %></p>
    </div>

    <h2>Best videos of the day</h2>
    <div class="row plans">
      <% @videos_shown.each do |video| %>
        <div class="center-block" style="width:650px;max-width:100%">
          <div class="first_line col-xs-12">
            <div class="image col-xs-12 col-sm-5">
              <%= cl_image_tag video.photo, height: 260, width: 420, crop: :fill %>
              <ul class="under_image">
                <li class="channel_author"><i class="fa fa-user" aria-hidden="true"></i> <%= truncate(video.channel_title, :length => 20)%></li>
                <li class="subscribers"><%= number_with_delimiter(video.channel_subscribers) %></li>
              </ul>
            </div>
            <div class="title col-xs-12 col-sm-7">
              <%= cl_image_tag video.plateform.photo, height: 35, width: 35, crop: :fill %> <%= link_to truncate(video.title, :length => 50), video_path(video) %>
              <div class="second_line col-xs-12">
                <ul>
                  <li class="author"><%= cl_image_tag video.channel_thumbnail, height: 50, width: 50, crop: :fill %></li>
                  <li class="category"></i><a href="#"><%= video.category_title %></a></li>
                  <li class="duration"></i><a href="#"><%= Time.at(video.length.to_i).utc.strftime("%M:%S")%></a></li>
                </ul>
              </div>
            </div>
            <div class="button">
              <ul class="bottom">
                <% if current_user == nil %>
                  <li class="vote"><%= link_to glyph(:'chevron-up') + "#{video.score}", like_video_path(video), method: :put, class: 'btn btn-default btn-sm' %></li>
                <% elsif current_user.voted_for? video %>
                  <li class="vote"><%= link_to glyph(:'chevron-up') + "#{video.score}", dislike_video_path(video), method: :put, class: 'btn btn-default btn-sm btn-voted' %></li>
                <% else %>
                  <li class="vote"><%= link_to glyph(:'chevron-up') + "#{video.score}", like_video_path(video), method: :put, class: 'btn btn-default btn-sm' %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
