<section class="price-1">
  <div class="container">
    <div class="heading">
      <h1>The concept</h1>
      <p>Helping Youtubers with less than 3000 subscribers
        <br>Share and vote for the best videos
      </p>
      <p><%= link_to "Post a new video", new_video_path, :class => "btn btn-primary post-button" %></p>
    </div>
    <h2>Best videos of the day</h2>
    <div class="row plans">
      <% @videos_shown.each do |video| %>
        <div class="center-block" style="width:650px;max-width:100%">
          <div class="plan">
            <div class="first_line col-xs-12">
              <div class="image col-xs-12 col-sm-5">
                <%= cl_image_tag video.photo, height: 260, width: 420, crop: :fill %>
              </div>
              <div class="title col-xs-12 col-sm-7">
                <%= link_to video.title, video_path(:show) %>
                <div class="second_line col-xs-12">
                  <ul>
                    <li class="plateform"><%= cl_image_tag video.plateform.photo, height: 35, width: 35, crop: :fill %></li>
                    <li class="category"></i> <%= link_to video.category.title, category_path(video.category.id) %></li>
                  </ul>
                </div>
              </div>
            </div>


            <div class="button">
              <% if current_user == nil %>
                <%= link_to glyph(:'chevron-up') + "#{video.score}", like_video_path(video), method: :put, class: 'btn btn-default btn-sm' %>
              <% elsif current_user.voted_for? video %>
                <%= link_to glyph(:'chevron-up') + "#{video.score}", dislike_video_path(video), method: :put, class: 'btn btn-default btn-sm btn-voted' %>
              <% else %>
                <%= link_to glyph(:'chevron-up') + "#{video.score}", like_video_path(video), method: :put, class: 'btn btn-default btn-sm' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
