<section class="price-1">
  <div class="container">
    <div class="heading">
      <h1>Discover the most promising Youtube Channels</h1>
      <p>They have less than 2000 subscribers but make good videos
        <br>Share, upvote and follow some tomorrow's talents
      </p>
      <p><%= link_to "POST A VIDEO", add_a_video_path, :class => "btn btn-primary post-button" %></p>
    </div>

    <% if @date.past? %>
      <h2><%= @date.strftime("%B %d")%></h2>
      <%= render "shared/choose_language" %>
    <% else %>
      <h2>Today's best videos</h2>
      <%= render "shared/choose_language" %>
    <% end %>

    <div class="row plans">
      <% @videos_published.each do |video| %>
        <div class="center-block" style="width:650px;max-width:90%">
          <div class="first_line col-xs-12">
            <div class="image col-xs-12 col-sm-5">
              <div class="videowrapper_home">
                <%= video.embed_code.html_safe %>
              </div>
              <ul class="under_image">
                <li class="channel_author"><i class="fa fa-user" aria-hidden="true"></i> <%= truncate(video.channel_title, :length => 20)%></li>
                <li class="subscribers"><%= number_with_delimiter(video.channel_subscribers) %></li>
              </ul>
            </div>
            <div class="title col-xs-12 col-sm-7">
              <% if video.language == "french" %>
                <%= image_tag "french_flag.png", height: 25, width: 25, crop: :fill %> <%= link_to truncate(video.title, :length => 50), video_path(video) %>
              <% else %>
                <%= image_tag "english_flag.png", height: 25, width: 25, crop: :fill %> <%= link_to truncate(video.title, :length => 50), video_path(video) %>
              <% end %>
              <div class="second_line col-xs-12">
                <ul>
                  <li class="author"><%= cl_image_tag video.channel_thumbnail, height: 50, width: 50, crop: :fill %></li>
                  <li class="category"><%= video.category_title %></li>
                  <li class="duration"><%= Time.at(video.length.to_i).utc.strftime("%M:%S")%></li>
                </ul>
              </div>
            </div>
            <div class="button">
              <ul class="bottom">
                <% if current_user == nil %>
                  <li class="vote"><%= link_to glyph(:'chevron-up') + "#{video.score}", like_video_path(video), method: :put, class: 'btn btn-default btn-sm' %></li>
                <% elsif current_user.voted_for? video %>
                  <li class="vote"><%= link_to glyph(:'chevron-up') + "#{video.score}", dislike_video_path(video), method: :put, class: 'btn btn-default btn-sm btn-voted' %></li>
                <% else %>
                  <li class="vote"><%= link_to glyph(:'chevron-up') + "#{video.score}", like_video_path(video), method: :put, class: 'btn btn-default btn-sm' %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="date">
      <% if @date.past? %>
        <h2><i class="fa fa-arrow-down" aria-hidden="true"></i> <%= link_to @date.prev_day.strftime("%B-%d"), videos_path(request.query_parameters.merge(:date => @date.prev_day.strftime("%Y-%m-%d"))) %> / <i class="fa fa-arrow-up" aria-hidden="true"></i> <%= link_to @date.next_day.strftime("%B-%d"), videos_path(request.query_parameters.merge(:date => @date.next_day.strftime("%Y-%m-%d"))) %> </h2>
      <% else %>
        <h2><i class="fa fa-arrow-down" aria-hidden="true"></i> <%= link_to 'Yesterday', videos_path(request.query_parameters.merge(:date => @date.prev_day.strftime("%Y-%m-%d"))) %></h2>
      <% end %>
    </div>
  </div>
</section>




