<section class="price-1">
  <div class="container">
    <div class="heading">
      <h1>Rules before uploading</h1>
      <p>Video from channel < 2000 subscribers
        <br>Original content (no TV show re-upload)
        <br>One video per user or channel / Day
        <br>Only Youtube video (Vimeo & Facebook soon)</p>
    </div>
    <h2>Upload a new video</h2>
    <div class="row plans">
      <div class="center-block" style="width:550px;max-width:100%">
        <div class="first_line col-xs-12">
          <div class="form_upload">
            <%= simple_form_for @new_video do |f| %>
              <%= f.input :language,
                            as: :select,
                            required: true,
                            label: "Language" %>
              <%= f.input :link,
                          label: "Youtube video link",
                          required: true,
                          hint: 'This format : https://www.youtube.com/watch?v=g-jwJlo' %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <p class="post-button-form">
                <%= f.button :submit, "Submit", class:"btn btn-danger post-button-form" %>
              </p>
          </div>
          <p class="review-video">Your video will be reviewed before publishing</p>
        </div>
          <% end %>
      </div>
    </div>
  </div>
</section>
