<section class="price-1">
  <div class="container">
    <div class="heading-video">
      <div class="center-block" style="width:800px;max-width:100%">
        <h1><%= @video.title %></h1>
        <div class="under-title">
          <ul class="subtitle">
            <li class="category"><%= @video.category_title %></li>
            <li class="duration"><%= Time.at(@video.length.to_i).utc.strftime("%M:%S")%></li>
          </ul>
        </div>
          <div class="videowrapper">
            <%= @video.embed_code.html_safe %>
          </div>
          <div class="infos col-xs-12 col-sm-5">
            <li class="author"><%= cl_image_tag @video.channel_thumbnail, height: 50, width: 50, crop: :fill %> <%= @video.channel_title %></li>
          </div>
          <div class="button">
            <ul class="bottom">
              <% if current_user == nil %>
                <li class="vote"><%= link_to glyph(:'chevron-up') + "#{@video.score}", like_video_path(@video), method: :put, class: 'btn btn-default btn-sm' %></li>
              <% elsif current_user.voted_for? @video %>
                <li class="vote"><%= link_to glyph(:'chevron-up') + "#{@video.score}", dislike_video_path(@video), method: :put, class: 'btn btn-default btn-sm btn-voted' %></li>
              <% else %>
                <li class="vote"><%= link_to glyph(:'chevron-up') + "#{@video.score}", like_video_path(@video), method: :put, class: 'btn btn-default btn-sm' %></li>
              <% end %>
            </ul>
          </div>
          <div class="link">
          <%= link_to "Watch on Youtube", @video.link, target: "_blank", class:"btn btn-danger btn-lg"%>
        </div>
      </div>
    </div>
  </div>
  <h2>Comments</h2>
  <div class="row plans">
    <div class="center-block" style="width:800px;max-width:100%">
      <div class="plan">
        <div id="disqus_thread"></div>
        <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*

            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */

            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://risingtube.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
      </div>
    </div>
  </div>
</section>
