<header class="header-11">
  <div class="container">
    <div class="row">
      <div class="navbar col-sm-12" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collaped" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"><span class="sr-only">Toggle navigation</span></button>
          <div class="logo">
            <%= link_to root_path do %>
              <% image_tag "logo_2.png", size: "200x50", alt: "Logo RisingTube" %>
            <% end %>
          </div>
        </div>
        <div class="navbar-collapse pull-right collapse" id="navbar-collapse" aria-expanded="false">
          <ul class="nav pull-left">
            <li><a href="/pages/concept">THE CONCEPT</a></li>
            <li><a href="/pages/about">ABOUT</a></li>
            <li><%= link_to "CONTACT", contact_path %></li>
          </ul>
          <% if current_user == nil %>
            <form class="navbar-form pull-left">
              <%= link_to "LOG IN", new_user_session_path, class:"btn btn-default btn-sm" %>
              <%= link_to "SIGN UP", new_user_registration_path, class:"btn btn-danger btn-sm" %>
            </form>
          <% else %>
            <form class="navbar-form pull-left">
              <%= link_to "POST A VIDEO", add_a_video_path, class:"btn btn-primary btn-sm" %>
              <%= link_to "MY PROFILE", user_path(current_user), class:"btn btn-default btn-sm" %>
              <%= link_to "LOG OUT", destroy_user_session_path, :method => :delete, class:"btn btn-danger btn-sm" %>
            </form>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>