<div class="sort_menu col-xs-12 col-sm-12 col-lg-2">
  <div class="language col-xs-4 col-sm-4 col-lg-12">
    <p>Language</p>
    <ul>
      <li><%= active_link_to "French", videos_path(request.query_parameters.merge(language: "french")), class: 'all_button' %></li>
      <li><%= active_link_to "English", videos_path(request.query_parameters.merge(language: "english")), class: 'all_button' %></li>
      <li><%= active_link_to 'All', videos_path(:period => params[:period], :category => params[:category]), active: :exact, class: 'all_button' %></li>
    </ul>
  </div>
  <div class="category col-xs-4 col-sm-4 col-lg-12">
    <p>Category</p>
    <ul>
      <li><%= active_link_to 'Comedy', videos_path(request.query_parameters.merge(category: "Comedy")), active: {category: "Comedy"}, class: 'all_button' %></li>
      <li><%= active_link_to 'Film', videos_path(request.query_parameters.merge(category: "Film & Animation")), active: {category: "Film & Animation"}, class: 'all_button' %></li>
      <li><%= active_link_to 'People', videos_path(request.query_parameters.merge(category: "People & Blogs")), active: {category: "People & Blogs"}, class: 'all_button' %></li>
      <li><%= active_link_to 'Sport', videos_path(request.query_parameters.merge(category: "Sports")), active: {category: "Sports"}, class: 'all_button' %></li>
      <li><%= active_link_to 'All', videos_path(:language => params[:language], :period => params[:period]), active: :exact, class: 'all_button' %></li>
    </ul>
  </div>
  <div class="category col-xs-4 col-sm-4 col-lg-12">
    <p>Period</p>
    <ul>
      <li><%= active_link_to "Current week", videos_path(request.query_parameters.merge(:period => "current_week")), active: {period: "current_week"}, class: 'all_button' %></li>
      <li><%= active_link_to 'Last week', videos_path(request.query_parameters.merge(:period => "last_week")), active: {period: "last_week"}, class: 'all_button' %></li>
    </ul>
  </div>
</div>
